html,
body {
    height: 100%;
}
div.required label:after {
    content: " *";
    color: red;
}
div.form-group label{
    text-align: -webkit-right;
    text-align: right;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}


a.asc {
    background-image: url('https://datatables.net/media/images/sort_asc.png')  !important;
    background-repeat: no-repeat;
}

a.desc{
    /* content: /!*"\e114"*!/ "\e152";*/
    background-image: url('https://datatables.net/media/images/sort_desc.png')  !important;
    background-repeat: no-repeat;
}


.sort-numerical a.asc:after {
    /* content: "\e153";*/
}

.sort-numerical a.desc:after {
    /*content: "\e154";*/
}

.sort-ordinal a.asc:after {
    /*content: "\e155";*/
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
    .nav li > form {
        padding: 3px;
    }
}

.nav > li > form > button:hover {
    text-decoration: none;
}
table thead tr th a{
    padding-left: 15px;
    color: black;
    background: url('https://datatables.net/media/images/sort_both.png')-4px;
    background-repeat: no-repeat;
}
table thead tr th a:hover{
    color: black;
    text-decoration: none;
}
.currency-input > .currency-symbol{
    position: absolute;
    top: 30%;
    left: 75%;
    font-size: 11px;
    font-weight: bold;
}
.daterangepicker_input .input-mini{
    width: 100% !important;
}
.langs-block-others{
    width: 170px!important;
}
.navigate-profile:hover{
    text-decoration: none;
}
.contact-buttons {
    width: 45px;
    position: fixed;
    z-index: 7000;
    right: 0;
    top: 50%;
}
.contact-buttons > .item {
    display: block;
    width: 45px;
    height: 45px;
    position: relative;
    margin-bottom: 7px;
}
.contact-buttons .icon {
    width: 45px;
    height: 45px;
    font-size: 24px;
    text-align: center;
    line-height: 37px;
    display: inline-block;
    position: relative;
    z-index: 0;
    background-color: white;
    color: rgb(51, 62, 72);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
}
.contact-buttons .content {
    position: absolute;
    top: 0;
    right: 100%;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
    line-height: 45px;
    padding: 0px 10px 0 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: -1;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.contact-buttons > .item:hover {
    background-color: white;
}
.contact-buttons > .item:hover .icon {
    color: rgb(32, 49, 141);
}

.contact-buttons > .item:hover .content {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.realty-description{
    margin-left: 50px;
}
.site-logo{
    float: left !important;
    margin-right: 67px !important;
    padding-top: 60px !important;
    padding-bottom: 22px !important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    width: 87px!important;
    background-image: url(http://static.bdssmart.com/assets/images/page/frontend/logo.jpg) !important;
}
.product-full-des{
    display: none;
}
