html,
body {
    height: 100%;
}
div.required label:after {
    content: " *";
    color: red;
}
div.form-group label{
    text-align: -webkit-right;
    text-align: right;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc {
    background-image: url('https://datatables.net/media/images/sort_asc.png')  !important;
    background-repeat: no-repeat;
}

a.desc{
   /* content: /!*"\e114"*!/ "\e152";*/
    background-image: url('https://datatables.net/media/images/sort_desc.png')  !important;
    background-repeat: no-repeat;
}

.sort-numerical a.asc:after {
   /* content: "\e153";*/
}

.sort-numerical a.desc:after {
    /*content: "\e154";*/
}

.sort-ordinal a.asc:after {
    /*content: "\e155";*/
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}
table thead tr th a{
    padding-left: 15px;
    color: black;
    background: url('https://datatables.net/media/images/sort_both.png')-4px;
    background-repeat: no-repeat;
}
table thead tr th a:hover{
    color: black;
    text-decoration: none;
}
.currency-input > .currency-symbol{
    position: absolute;
    top: 30%;
    left: 75%;
    font-size: 11px;
    font-weight: bold;
}
.control-label .required, .form-group .required {
    color: black !important;
    font-size: 14px !important;
    padding-left: 0px !important;
}
